root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
max_line_length = 100
tab_width = 2

[*.csv]
max_line_length = 2147483647

[*.java]
indent_size = 4

[{*.gant,*.gradle,*.groovy,*.gson,*.gy}]
indent_size = 4
tab_width = 4

[{*.gradle.kts,*.kt,*.kts,*.main.kts}]
indent_size = 4
tab_width = 4

[{*.markdown,*.md}]
indent_size = 4
tab_width = 4

[{*.mk,GNUmakefile,makefile}]
tab_width = 4
